/* Hero */

.hero-img {
  min-width: 100%;
  height: calc(100vh - 84px);
  max-height: calc(900px);
  object-fit: cover;
  background-color: black;
}

.slide-content {
  background-color: #00000070;
  padding: 1rem;
}

.home-hero{
  border-bottom: 7px solid var(--orange);
}

@media screen and (max-width: 576px) {
  .hero-img {
    object-position: -30vw;
  }
}

/*  */

.home-main-section,
.home-last-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.home-img {
  width: 100%;
}

.row {
  row-gap: 1em;
}

/* Card section */

.card {
  margin: auto;
  border-radius: 0;
}

.bs-card-img {
  height: 200px;
  width: auto;
  object-position: cover;
}
