:root {
  --orange: #e67634;
  --white: #ffffff;
  --red: #98221f;
  --yellow: #fceec8;
  --blue: #20304c;
  --violet: #541355;
  --black: #222222;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: var(--black) !important;
}

/* Footer */
footer {
  background-color: var(--orange);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
}
