:root {
  --orange: #e67634;
  --white: #ffffff;
  --red: #98221f;
  --yellow: #fceec8;
  --blue: #20304c;
  --violet: #541355;
  --dark: #222222;
  --transparent: #ffffff00;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-box, .row.container-box{
  margin: 0;
  max-width: 100%;
}

.container-box .row, .row.container-box{
  max-width: 1080px;
  margin: auto;
}

hr {
  color: var(--red);
  border-width: 2px;
}

/* Text */

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

.text-primary {
  color: var(--orange) !important;
}

.text-secondary {
  color: var(--yellow) !important;
}

.text-terciary {
  color: var(--red);
}

.link-light,
.link-dark {
  text-decoration: none;
}

.link-light,
.link-light > a {
  color: var(--red) !important;
}

.link-light:hover,
.link-light > a:hover {
  color: var(--orange) !important;
}

.link-dark,
.link-dark > a {
  color: var(--white) !important;
}

.link-dark:hover,
.link-dark > a:hover {
  color: var(--yellow) !important;
}

/* Buttons */

.btn-primary {
  background-color: var(--white);
  color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 0px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--orange) !important;
  color: var(--white);
  border: 2px solid var(--orange) !important;
  border-radius: 0px;
  transition: all 0.3s ease;
}

.btn-primary:active {
  background-color: var(--orange) !important;
  color: var(--white);
  border: 2px solid var(--orange) !important;
  border-radius: 0px;
  transform: scale(1.08) !important;
  transition: all 0.1s ease;
}

.btn-secondary {
  background-color: var(--transparent);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 0px;
}

.btn-secondary:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 2px solid var(--white);
  border-radius: 0px;
}

/* Heading */

.heading-pages{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 10%;
  border-bottom: 7px solid var(--orange);
}

.heading-pages h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  color: var(--white);
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 1020;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar {
  margin: 0 !important;
}

.nav-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.nav-link {
  font-weight: 600;
}

.navbar-nav .nav-link,
.navbar-nav .nav-item {
  text-align: center;
}

.offcanvasNavbar-light {
  background-color: var(--yellow) !important;
}

.website-navbar-light {
  background-color: var(--yellow);
  transition: all 0.3s ease;
}

.dropdown-list-light,
.dropdown-list-dark {
  list-style: none;
  margin: 0;
  padding: 1em 1em;
}

.dropdown-list-light {
  background-color: var(--yellow);
  transition: all 0.3s ease;
}

.dropdown-list-light a {
  color: var(--red);
  text-decoration: none;
}

.dropdown-list-light a:hover {
  color: var(--orange);
}

.offcanvasNavbar-dark {
  background-color: var(--orange) !important;
}

.website-navbar-dark {
  background-color: var(--orange);
  transition: all 0.3s ease;
}

.dropdown-list-dark {
  background-color: var(--orange);
  transition: all 0.3s ease;
}

.dropdown-list-dark a {
  color: var(--white);
  text-decoration: none;
}

.dropdown-list-dark a:hover {
  color: var(--yellow);
}

.dropdown-menu {
  background-color: var(--transparent);
  border: none;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    justify-content: center !important;
    padding-right: calc(187px) !important;
  }

  .nav-link::after {
    display: none;
  }

  .dropdown-list-dark,
  .dropdown-list-light {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 7px;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.btn-close:focus {
  border: none !important;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .dropdown-list-dark,
  .dropdown-list-light {
    padding-top: 0;
  }
}

/* Footer */
footer {
  background-color: var(--orange);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.copyright {
  text-align: center;
}

.media-icons-row .col {
  padding: 0;
}

.media-icons-row svg:hover {
  color: var(--yellow) !important;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
}
